# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
public/progress_report.txt
public/item_id_log.txt
public/favicon.ico

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?m
_RMR Tracker.exe"
credits.html"
d3dcompiler_47.dll"
dxcompiler.dll"
dxil.dll"
ffmpeg.dll"
icudtl.dat"
libEGL.dll"
libGLESv2.dll"
node.dll"
notification_helper.exe"
nw.dll"
nw_100_percent.pak"
nw_200_percent.pak"
nw_elf.dll"
package.json"
package-lock.json"
package-mainsourcebackup.json"
resources.pak"
v8_context_snapshot.bin"
vite.config.ts"
vk_swiftshader.dll"
vk_swiftshader_icd.json"
vulkan-1.dll"
_RMR Tracker.exe
credits.html
d3dcompiler_47.dll
dxcompiler.dll
dxil.dll
ffmpeg.dll
icudtl.dat
libEGL.dll
libGLESv2.dll
locales/af.pak
locales/af.pak.info
locales/af_FEMININE.pak
locales/af_FEMININE.pak.info
locales/af_MASCULINE.pak
locales/af_MASCULINE.pak.info
locales/af_NEUTER.pak
locales/af_NEUTER.pak.info
locales/am.pak
locales/am.pak.info
locales/am_FEMININE.pak
locales/am_FEMININE.pak.info
locales/am_MASCULINE.pak
locales/am_MASCULINE.pak.info
locales/am_NEUTER.pak
locales/am_NEUTER.pak.info
locales/ar-XB.pak
locales/ar-XB.pak.info
locales/ar-XB_FEMININE.pak
locales/ar-XB_FEMININE.pak.info
locales/ar-XB_MASCULINE.pak
locales/ar-XB_MASCULINE.pak.info
locales/ar-XB_NEUTER.pak
locales/ar-XB_NEUTER.pak.info
locales/ar.pak
locales/ar.pak.info
locales/ar_FEMININE.pak
locales/ar_FEMININE.pak.info
locales/ar_MASCULINE.pak
locales/ar_MASCULINE.pak.info
locales/ar_NEUTER.pak
locales/ar_NEUTER.pak.info
locales/bg.pak
locales/bg.pak.info
locales/bg_FEMININE.pak
locales/bg_FEMININE.pak.info
locales/bg_MASCULINE.pak
locales/bg_MASCULINE.pak.info
locales/bg_NEUTER.pak
locales/bg_NEUTER.pak.info
locales/bn.pak
locales/bn.pak.info
locales/bn_FEMININE.pak
locales/bn_FEMININE.pak.info
locales/bn_MASCULINE.pak
locales/bn_MASCULINE.pak.info
locales/bn_NEUTER.pak
locales/bn_NEUTER.pak.info
locales/ca.pak
locales/ca.pak.info
locales/ca_FEMININE.pak
locales/ca_FEMININE.pak.info
locales/ca_MASCULINE.pak
locales/ca_MASCULINE.pak.info
locales/ca_NEUTER.pak
locales/ca_NEUTER.pak.info
locales/cs.pak
locales/cs.pak.info
locales/cs_FEMININE.pak
locales/cs_FEMININE.pak.info
locales/cs_MASCULINE.pak
locales/cs_MASCULINE.pak.info
locales/cs_NEUTER.pak
locales/cs_NEUTER.pak.info
locales/da.pak
locales/da.pak.info
locales/da_FEMININE.pak
locales/da_FEMININE.pak.info
locales/da_MASCULINE.pak
locales/da_MASCULINE.pak.info
locales/da_NEUTER.pak
locales/da_NEUTER.pak.info
locales/de.pak
locales/de.pak.info
locales/de_FEMININE.pak
locales/de_FEMININE.pak.info
locales/de_MASCULINE.pak
locales/de_MASCULINE.pak.info
locales/de_NEUTER.pak
locales/de_NEUTER.pak.info
locales/el.pak
locales/el.pak.info
locales/el_FEMININE.pak
locales/el_FEMININE.pak.info
locales/el_MASCULINE.pak
locales/el_MASCULINE.pak.info
locales/el_NEUTER.pak
locales/el_NEUTER.pak.info
locales/en-GB.pak
locales/en-GB.pak.info
locales/en-GB_FEMININE.pak
locales/en-GB_FEMININE.pak.info
locales/en-GB_MASCULINE.pak
locales/en-GB_MASCULINE.pak.info
locales/en-GB_NEUTER.pak
locales/en-GB_NEUTER.pak.info
locales/en-US.pak
locales/en-US.pak.info
locales/en-US_FEMININE.pak
locales/en-US_FEMININE.pak.info
locales/en-US_MASCULINE.pak
locales/en-US_MASCULINE.pak.info
locales/en-US_NEUTER.pak
locales/en-US_NEUTER.pak.info
locales/en-XA.pak
locales/en-XA.pak.info
locales/en-XA_FEMININE.pak
locales/en-XA_FEMININE.pak.info
locales/en-XA_MASCULINE.pak
locales/en-XA_MASCULINE.pak.info
locales/en-XA_NEUTER.pak
locales/en-XA_NEUTER.pak.info
locales/es-419.pak
locales/es-419.pak.info
locales/es-419_FEMININE.pak
locales/es-419_FEMININE.pak.info
locales/es-419_MASCULINE.pak
locales/es-419_MASCULINE.pak.info
locales/es-419_NEUTER.pak
locales/es-419_NEUTER.pak.info
locales/es.pak
locales/es.pak.info
locales/es_FEMININE.pak
locales/es_FEMININE.pak.info
locales/es_MASCULINE.pak
locales/es_MASCULINE.pak.info
locales/es_NEUTER.pak
locales/es_NEUTER.pak.info
locales/et.pak
locales/et.pak.info
locales/et_FEMININE.pak
locales/et_FEMININE.pak.info
locales/et_MASCULINE.pak
locales/et_MASCULINE.pak.info
locales/et_NEUTER.pak
locales/et_NEUTER.pak.info
locales/fa.pak
locales/fa.pak.info
locales/fa_FEMININE.pak
locales/fa_FEMININE.pak.info
locales/fa_MASCULINE.pak
locales/fa_MASCULINE.pak.info
locales/fa_NEUTER.pak
locales/fa_NEUTER.pak.info
locales/fi.pak
locales/fi.pak.info
locales/fi_FEMININE.pak
locales/fi_FEMININE.pak.info
locales/fi_MASCULINE.pak
locales/fi_MASCULINE.pak.info
locales/fi_NEUTER.pak
locales/fi_NEUTER.pak.info
locales/fil.pak
locales/fil.pak.info
locales/fil_FEMININE.pak
locales/fil_FEMININE.pak.info
locales/fil_MASCULINE.pak
locales/fil_MASCULINE.pak.info
locales/fil_NEUTER.pak
locales/fil_NEUTER.pak.info
locales/fr.pak
locales/fr.pak.info
locales/fr_FEMININE.pak
locales/fr_FEMININE.pak.info
locales/fr_MASCULINE.pak
locales/fr_MASCULINE.pak.info
locales/fr_NEUTER.pak
locales/fr_NEUTER.pak.info
locales/gu.pak
locales/gu.pak.info
locales/gu_FEMININE.pak
locales/gu_FEMININE.pak.info
locales/gu_MASCULINE.pak
locales/gu_MASCULINE.pak.info
locales/gu_NEUTER.pak
locales/gu_NEUTER.pak.info
locales/he.pak
locales/he.pak.info
locales/he_FEMININE.pak
locales/he_FEMININE.pak.info
locales/he_MASCULINE.pak
locales/he_MASCULINE.pak.info
locales/he_NEUTER.pak
locales/he_NEUTER.pak.info
locales/hi.pak
locales/hi.pak.info
locales/hi_FEMININE.pak
locales/hi_FEMININE.pak.info
locales/hi_MASCULINE.pak
locales/hi_MASCULINE.pak.info
locales/hi_NEUTER.pak
locales/hi_NEUTER.pak.info
locales/hr.pak
locales/hr.pak.info
locales/hr_FEMININE.pak
locales/hr_FEMININE.pak.info
locales/hr_MASCULINE.pak
locales/hr_MASCULINE.pak.info
locales/hr_NEUTER.pak
locales/hr_NEUTER.pak.info
locales/hu.pak
locales/hu.pak.info
locales/hu_FEMININE.pak
locales/hu_FEMININE.pak.info
locales/hu_MASCULINE.pak
locales/hu_MASCULINE.pak.info
locales/hu_NEUTER.pak
locales/hu_NEUTER.pak.info
locales/id.pak
locales/id.pak.info
locales/id_FEMININE.pak
locales/id_FEMININE.pak.info
locales/id_MASCULINE.pak
locales/id_MASCULINE.pak.info
locales/id_NEUTER.pak
locales/id_NEUTER.pak.info
locales/it.pak
locales/it.pak.info
locales/it_FEMININE.pak
locales/it_FEMININE.pak.info
locales/it_MASCULINE.pak
locales/it_MASCULINE.pak.info
locales/it_NEUTER.pak
locales/it_NEUTER.pak.info
locales/ja.pak
locales/ja.pak.info
locales/ja_FEMININE.pak
locales/ja_FEMININE.pak.info
locales/ja_MASCULINE.pak
locales/ja_MASCULINE.pak.info
locales/ja_NEUTER.pak
locales/ja_NEUTER.pak.info
locales/kn.pak
locales/kn.pak.info
locales/kn_FEMININE.pak
locales/kn_FEMININE.pak.info
locales/kn_MASCULINE.pak
locales/kn_MASCULINE.pak.info
locales/kn_NEUTER.pak
locales/kn_NEUTER.pak.info
locales/ko.pak
locales/ko.pak.info
locales/ko_FEMININE.pak
locales/ko_FEMININE.pak.info
locales/ko_MASCULINE.pak
locales/ko_MASCULINE.pak.info
locales/ko_NEUTER.pak
locales/ko_NEUTER.pak.info
locales/lt.pak
locales/lt.pak.info
locales/lt_FEMININE.pak
locales/lt_FEMININE.pak.info
locales/lt_MASCULINE.pak
locales/lt_MASCULINE.pak.info
locales/lt_NEUTER.pak
locales/lt_NEUTER.pak.info
locales/lv.pak
locales/lv.pak.info
locales/lv_FEMININE.pak
locales/lv_FEMININE.pak.info
locales/lv_MASCULINE.pak
locales/lv_MASCULINE.pak.info
locales/lv_NEUTER.pak
locales/lv_NEUTER.pak.info
locales/ml.pak
locales/ml.pak.info
locales/ml_FEMININE.pak
locales/ml_FEMININE.pak.info
locales/ml_MASCULINE.pak
locales/ml_MASCULINE.pak.info
locales/ml_NEUTER.pak
locales/ml_NEUTER.pak.info
locales/mr.pak
locales/mr.pak.info
locales/mr_FEMININE.pak
locales/mr_FEMININE.pak.info
locales/mr_MASCULINE.pak
locales/mr_MASCULINE.pak.info
locales/mr_NEUTER.pak
locales/mr_NEUTER.pak.info
locales/ms.pak
locales/ms.pak.info
locales/ms_FEMININE.pak
locales/ms_FEMININE.pak.info
locales/ms_MASCULINE.pak
locales/ms_MASCULINE.pak.info
locales/ms_NEUTER.pak
locales/ms_NEUTER.pak.info
locales/nb.pak
locales/nb.pak.info
locales/nb_FEMININE.pak
locales/nb_FEMININE.pak.info
locales/nb_MASCULINE.pak
locales/nb_MASCULINE.pak.info
locales/nb_NEUTER.pak
locales/nb_NEUTER.pak.info
locales/nl.pak
locales/nl.pak.info
locales/nl_FEMININE.pak
locales/nl_FEMININE.pak.info
locales/nl_MASCULINE.pak
locales/nl_MASCULINE.pak.info
locales/nl_NEUTER.pak
locales/nl_NEUTER.pak.info
locales/pl.pak
locales/pl.pak.info
locales/pl_FEMININE.pak
locales/pl_FEMININE.pak.info
locales/pl_MASCULINE.pak
locales/pl_MASCULINE.pak.info
locales/pl_NEUTER.pak
locales/pl_NEUTER.pak.info
locales/pt-BR.pak
locales/pt-BR.pak.info
locales/pt-BR_FEMININE.pak
locales/pt-BR_FEMININE.pak.info
locales/pt-BR_MASCULINE.pak
locales/pt-BR_MASCULINE.pak.info
locales/pt-BR_NEUTER.pak
locales/pt-BR_NEUTER.pak.info
locales/pt-PT.pak
locales/pt-PT.pak.info
locales/pt-PT_FEMININE.pak
locales/pt-PT_FEMININE.pak.info
locales/pt-PT_MASCULINE.pak
locales/pt-PT_MASCULINE.pak.info
locales/pt-PT_NEUTER.pak
locales/pt-PT_NEUTER.pak.info
locales/ro.pak
locales/ro.pak.info
locales/ro_FEMININE.pak
locales/ro_FEMININE.pak.info
locales/ro_MASCULINE.pak
locales/ro_MASCULINE.pak.info
locales/ro_NEUTER.pak
locales/ro_NEUTER.pak.info
locales/ru.pak
locales/ru.pak.info
locales/ru_FEMININE.pak
locales/ru_FEMININE.pak.info
locales/ru_MASCULINE.pak
locales/ru_MASCULINE.pak.info
locales/ru_NEUTER.pak
locales/ru_NEUTER.pak.info
locales/sk.pak
locales/sk.pak.info
locales/sk_FEMININE.pak
locales/sk_FEMININE.pak.info
locales/sk_MASCULINE.pak
locales/sk_MASCULINE.pak.info
locales/sk_NEUTER.pak
locales/sk_NEUTER.pak.info
locales/sl.pak
locales/sl.pak.info
locales/sl_FEMININE.pak
locales/sl_FEMININE.pak.info
locales/sl_MASCULINE.pak
locales/sl_MASCULINE.pak.info
locales/sl_NEUTER.pak
locales/sl_NEUTER.pak.info
locales/sr.pak
locales/sr.pak.info
locales/sr_FEMININE.pak
locales/sr_FEMININE.pak.info
locales/sr_MASCULINE.pak
locales/sr_MASCULINE.pak.info
locales/sr_NEUTER.pak
locales/sr_NEUTER.pak.info
locales/sv.pak
locales/sv.pak.info
locales/sv_FEMININE.pak
locales/sv_FEMININE.pak.info
locales/sv_MASCULINE.pak
locales/sv_MASCULINE.pak.info
locales/sv_NEUTER.pak
locales/sv_NEUTER.pak.info
locales/sw.pak
locales/sw.pak.info
locales/sw_FEMININE.pak
locales/sw_FEMININE.pak.info
locales/sw_MASCULINE.pak
locales/sw_MASCULINE.pak.info
locales/sw_NEUTER.pak
locales/sw_NEUTER.pak.info
locales/ta.pak
locales/ta.pak.info
locales/ta_FEMININE.pak
locales/ta_FEMININE.pak.info
locales/ta_MASCULINE.pak
locales/ta_MASCULINE.pak.info
locales/ta_NEUTER.pak
locales/ta_NEUTER.pak.info
locales/te.pak
locales/te.pak.info
locales/te_FEMININE.pak
locales/te_FEMININE.pak.info
locales/te_MASCULINE.pak
locales/te_MASCULINE.pak.info
locales/te_NEUTER.pak
locales/te_NEUTER.pak.info
locales/th.pak
locales/th.pak.info
locales/th_FEMININE.pak
locales/th_FEMININE.pak.info
locales/th_MASCULINE.pak
locales/th_MASCULINE.pak.info
locales/th_NEUTER.pak
locales/th_NEUTER.pak.info
locales/tr.pak
locales/tr.pak.info
locales/tr_FEMININE.pak
locales/tr_FEMININE.pak.info
locales/tr_MASCULINE.pak
locales/tr_MASCULINE.pak.info
locales/tr_NEUTER.pak
locales/tr_NEUTER.pak.info
locales/uk.pak
locales/uk.pak.info
locales/uk_FEMININE.pak
locales/uk_FEMININE.pak.info
locales/uk_MASCULINE.pak
locales/uk_MASCULINE.pak.info
locales/uk_NEUTER.pak
locales/uk_NEUTER.pak.info
locales/ur.pak
locales/ur.pak.info
locales/ur_FEMININE.pak
locales/ur_FEMININE.pak.info
locales/ur_MASCULINE.pak
locales/ur_MASCULINE.pak.info
locales/ur_NEUTER.pak
locales/ur_NEUTER.pak.info
locales/vi.pak
locales/vi.pak.info
locales/vi_FEMININE.pak
locales/vi_FEMININE.pak.info
locales/vi_MASCULINE.pak
locales/vi_MASCULINE.pak.info
locales/vi_NEUTER.pak
locales/vi_NEUTER.pak.info
locales/zh-CN.pak
locales/zh-CN.pak.info
locales/zh-CN_FEMININE.pak
locales/zh-CN_FEMININE.pak.info
locales/zh-CN_MASCULINE.pak
locales/zh-CN_MASCULINE.pak.info
locales/zh-CN_NEUTER.pak
locales/zh-CN_NEUTER.pak.info
locales/zh-TW.pak
locales/zh-TW.pak.info
locales/zh-TW_FEMININE.pak
locales/zh-TW_FEMININE.pak.info
locales/zh-TW_MASCULINE.pak
locales/zh-TW_MASCULINE.pak.info
locales/zh-TW_NEUTER.pak
locales/zh-TW_NEUTER.pak.info
node.dll
notification_helper.exe
nw.dll
nw_100_percent.pak
nw_200_percent.pak
nw_elf.dll
package-lock.json
package-mainsourcebackup.json
package.json
resources.pak
v8_context_snapshot.bin
vite.config.ts
vk_swiftshader.dll
vk_swiftshader_icd.json
vulkan-1.dll
progress_tracker_js/RMR_progress_tracker_report.js
